body {
  font-family: sans-serif;
  background-color: #FFF3D0;
  text-align: center;
}

h1 {
  padding-top: 5rem;
  font-size: 3rem;

  .svg-inline--fa {
    color: rgb(219, 4, 4);
  }
}

p {
  color: #777;
}